body {

    background-image: url("../6009095f-bded-4fa4-bf6c-a2921417f841.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.links {
	color: green;
	text-align:center;
	border: 1pt solid #000;
	margin: auto;
	height: 40px;
	width:80px;	
	margin-bottom: 5px;
}

.NotFunFacts { 
	color: pink;
	display:inline-block;
	padding-left: 4px;
	border: 1pt solid #000;
	width: 550px;
	margin-left:300px;
	margin-bottom: 3px;
	padding-top: 1px;
	clear: both;
}

.causes, .solutions{
color: orange;
	display:inline-block;
	padding-left: 4px;
	border: 1pt solid #000;
	margin: auto;
	margin-bottom: 3px;
	padding-top: 1px;
	font-size: 15px;


}
.img1 {
	background-color: black;
	display:inline-block;
	height:100px;
	width: 100px;
	float: right;
	transform-style: 180

}
.img2 {
	display: inline-block;
	height:100px;
	width: 100px;
	float: left;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}
}

